#navImg{
    width: 80%;
}
.navElementPosition{
	margin-left: auto;
}
.creamColor{
    color: #fabe4c;
    
}
.blueColor{
    color: #35385a;
    
}
.headerFont{
    font-size: 50px;
}
#introImage{
    width: 80%;
}
.buttonFeatures{
    background-color: #8da724; 
    width: 150px;
}
.buttonFeatures:hover {
    color: #ffffff;
    background-color: #358116;
    border-color: #0ac074;
    font-weight: 700;
    
}
.buttonImage{
    width:27%;
}
.cardImgFeatures{
    /* width: 80%; */
    height: 300px;
    width: auto;
    /* background-image: gray; */
    /* align-items: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.cardImgHolder{
    border-radius: 5%;
    background-color: #f1f1f1;
    margin: 5px;
}
.decorationLeft{
    width: 100%;
}
.decorationRight{
    size: 50%;
}
.makeInline{
    display: inline;
}
.rowDecorationRight{
    /* /justify-content: flex-end; */
    size: 50%;
}
.carouselBG{
    background-color: rgb(226, 201, 198);
}
.divDecoration{
    height: 50%;
    display: inline;

}