#navImg{
    width: 80%;
}
.navElementPosition{
	margin-left: auto;
}
.creamColor{
    color: #fabe4c;
    
}
.blueColor{
    color: #575971;
    
}
.headerFont{
    font-size: 50px;
}
#introImage{
    width: 80%;
}
.buttonFeatures{
    background-color: #8da724; 
    width: 150px;
}
.buttonFeatures:hover {
    color: #ffffff;
    background-color: #358116;
    border-color: #0ac074;
    font-weight: 700;
    
}
.buttonImage{
    width:27%;
}
.cardImgFeatures{
    width: 80%;
    height: 60%;
    background-image: gray;
    align-items: center;
}